### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Node ###
node_modules/*

### Cypress stuff ###
cypress/screenshots*

### Build Directory ###
dist/*

# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

.env*

.idea

# Yarn Plug'n'Play
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions