<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <style media="screen">
      .channel-list {
        padding: 3rem 1.5rem 10rem 3.5rem;
      }
      .footer{
        max-height: 20px;
      }
      .footer .container{
        padding: 10px;
      }
      .footer .container p {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <i class="fa fa-hashtag"></i>Slack-List
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="#">
              About
            </a>
            <a class="navbar-item" href="#">
              Channels List
            </a>
            <a class="navbar-item" href="#">
              Add a Channel
            </a>
          </div>
        </div>
      </nav>
    </div>

    <section class="hero is-primary is-large is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Slack List</h1>
          <h2 class="subtitle">A list of public Slack networks.</h2>
        </div>
      </div>
    </section>

    <section class="section channel-list">
      <div class="container">
        <h1 class="title">List</h1>
        <div class="content">
          <ul>
            <li>Channel 1</li>
            <li>Channel 2</li>
            <li>Channel 3</li>
            <li>Channel 4</li>
            <li>Channel 5</li>
          </ul>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Slack List</strong> by <a href="https://github.com/itzsaga">Seth Alexander</a>
            <!-- The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. -->
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
