name: Cypress Tests

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  test:
    name: Test on Node
    runs-on: ubuntu-latest    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        cache: 'yarn'
        node-version-file: '.nvmrc'
    - name: Cypress run
      uses: cypress-io/github-action@v4
      with:
        build: yarn build
        start: yarn start
        wait-on: 'http://localhost:8000'
